<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>vikhyat</h1>
        <form>
            <input placeholder="user">
            <button>SUBMIT</button>
        </form>

        <p id="notfindmsg"></p>
        <div id="langpiechart">

        </div>
        <div id="ratinghist">

        </div>
        <div id='diffchart'>

        </div>
        <div id='tagchart'>

        </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>