<!DOCTYPE html>
<html>
    <head>
        <title>Unsolved Problems</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/unsolvedstyle.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand navheading" href="/">Cf-Visualizer</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item links">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active links">
                        <a class="nav-link" href="/unsolved">Unsolved</a>
                    </li>
                    <li class="nav-item links">
                        <a class="nav-link" href="/compare">Compare</a>
                    </li>
                </ul>
                
            </div>
        </nav>
            <div class="main">
                    <form id="unsolvedform">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-1 col-lg-1 text-center">
                                </div>
                                <div class="col-md-10 col-lg-10 text-center">
                                    <input placeholder="USERNAME" id="userinput" class="inp">
                                </div>
                                <div class="col-md-1 col-lg-1 text-center">
                                </div>
                                <div class="col-md-1 col-lg-1 text-center">
                                </div>
                                <div class="col-md-5 col-lg-5 text-center">
                                    <input placeholder="From Range :- [800-3500]" id="from" class="inp" type="number">
                                    
                                </div>
                                <div class="col-md-5 col-lg-5 text-center">
                                    <input placeholder="To Range :- [800-3500]" id="to" class="inp" type="number">
                                    
                                </div>
                                <div class="col-md-1 col-lg-1 text-center">
                                </div>
                                <div class="col-md-12 col-lg-12 text-center">
                                    <button class="submitbtn">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                <p id="notfoundmessage" class="hidden text-center"></p>
                <div class="container">
                    <div class="row" id="unsolvedList">
                        
                    </div>
                </div>
          
          </div>
            
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="/js/unsolved.js"></script>
    </body>
</html>